/* OBS: OQUE EU NÃO COMENTEI.. DESCONSIDERA.. MAS NÃO TIRA NADA KSKKSKSKSK */

.nav__cont {
  position: fixed;
  width: 43px;
  top: 0;
  height: 100vh;
  z-index: 20;
  background-color: #baffba;
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
  border-radius: 10px;
  margin-left: -15px;
  margin-top: -1px;
}
.nav__cont:hover {
  width: 200px;
}

.nav__items {
    /* icones/pré visualização dos botões da nav bar E OS BOTÕES  
  - SEPARAÇÃO ENTRE OS ELEMENTOS */
  padding-bottom: 2px;
}

.nav {
  /* icones/pré visualização dos botões da nav bar 
  - MECHER PARA OS LADOS */
  margin-left: -27px;

  /* icones/pré visualização dos botões da nav bar E OS BOTÕES 
  - MECHER PARA CIMA(usando o menos -) E BAIXO(deixando o número positivo) */
  margin-top: 30px;

  list-style-type: none;

    /* icones/pré visualização dos botões da nav bar
  - MUDA COR DOS ICONES */
  color: white;
}

.nav__items a {
  /* NECESSÁRIO PARA MANTER A NAV BAR RESPONSIVA DE ACORDO COM O SITE */
  position: relative;
  
  /* NECESSÁRIO PARA MANTER TODOS ELEMENTOS DE FORMA ORGANIZADA E PADRONIZADA, SE TIRAR DISTORCE TUDO NO HOVER */
  display: block;

  /* NESSE TOP EU MECHI PARA ALINHAR A "PRÉ VISUALIZAÇÃO DOS BOTÕES" COM OS PRÓPRIOS BOTÕES, SE TIRAR ELES DESALINHAM */
  top: -38px;

  /* ESSE PADDING LEFT FAZ UM ESPAÇAMENTO NOS BOTÕES QUANDO JÁ MOSTRADOS APÓS PASSAR O MOUSE NA SID BAR */
  padding-left: 25px;

  padding-right: 50px;

  /* FAZ A TRANSIÇÃO DA NAV BAR.. DE FORMA QUE ELA VAI E VEM NO HOVER.. DE FORMA DELICADA COM UMA "ANIMAÇÃO/TRANSIÇÃO" */
  transition: all 0.3s ease;

  /* ESSE MARGIN DOIDO BAGUNÇA UM POUCO, MAS ELE PRATICAMENTE EFETUA A SEPARAÇÃO DOS ELEMENTOS QUANDO MOSTRADOS */
  margin-top: 2px;

  /* ESSE FAZ A MESMA COISA QUE O PADDING LEFT ACIMA.. MAS NÃO MECHE NÃO KSKSKSK SÓ SE QUISER EMPURRAR
  UM POUCO A ESCRITA DOS BOTÕES QUANDO MOSTRADOS */
  margin-left: 30px;

  /* ESSE MECHE NO TAMANHO HORIZONTAL DA CORZINHA EXIBIDA NOS BOTÕES JÁ MOSTRADOS E QUE ESTÃO COM O MAUSE EM CIMA */
  margin-right: 10px;
  
  text-decoration: none;

  /* COR DOS BOTÕES, A ESCRITA DELES QUANDO MOSTRADOS */
  color: rgb(0, 0, 0);

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;

  /* TAMANHO DA FONTE */
  font-size: 1.0em;
}

.nav__items a:hover {
  font-size: 1.30em;
}

.nav__items a:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 7px;

  /* COR DO EFEITO QUANDO BOTÕES ESTÃO COM O MAUSE EM CIMA */
  background: radial-gradient(circle at 94.02% 88.03%, #e94a6d, transparent 100%);

  opacity: 0;
  transition: all 0.5s ease;
  z-index: -10;
}

.nav__items:hover a:after {
  opacity: 1;
}

.img_user {
  background-image: url(user_ico_g.png);
  background-repeat: no-repeat;
  background-size: 25px;
  width: 38px;
  height: 38px;
}

.img_home {
  background-image: url(home_ico_g.png);
  background-repeat: no-repeat;
  background-size: 28px;
  width: 40px;
  height: 40px;
}

.img_dashboard {
  background-image: url(dashboard_ico4_g.png);
  background-repeat: no-repeat;
  background-size: 25px;
  width: 40px;
  height: 40px;
}

.img_suporte {
  background-image: url(suporte_ico_g.png);
  background-repeat: no-repeat;
  background-size: 25px;
  width: 40px;
  height: 40px;
}

.img_sair {
  background-image: url(sair_img_g.png);
  background-repeat: no-repeat;
  background-size: 25px;
  width: 42px;
  height: 42px;
}

.nav_items_sair {
  padding-top: 250px;
}