.Pai{
    height: 85vh;
    width: 350px;
    background-color: rgba(179, 216, 177, 0.753);
}
.F1{
    background-color: chartreuse;
    height: 150px;
    width: 150px;
    margin-left: 25%;
    align-items: center;
    justify-content: center
}
.F2{
    background-color: rgb(238, 238, 238);
     height: 45vh;
      width: 15vw;
       margin-top: 30px;
        align-items: center;
        justify-content: center;
         margin-left: 7%
}

.list_user{
    text-decoration: none;
}