@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif;
}

.cabeca{
display: flex;
background-color: white;
border-bottom: 2px solid green;
height: 110px;
text-align: center;
justify-content: space-between;
padding-left: 4%;
}
.cabeca #mel{
color: red;
}
.cabeca #ciaa{
color: green;
}
.cabeca h3{
margin-top: -7%;
font-weight: normal;
font-size: 40px; 
}
a{
color: black;
text-decoration: none;
}
.lista{
justify-content: space-evenly;
width: 50%;
font-size: 20px;
margin-top: 3.5%;
height: 100%;
display: flex; 
text-decoration: none;
list-style: none;
}
.lista span{
font-weight: bolder;
cursor: pointer;
}
.Graficos{
margin-top:5%;
margin-left:35%;
}
