@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
padding: 0;
margin: 0;
font-family:  'Spartan', sans-serif;
}
/*  Variaveis para as cores*/
:root{
--red-main: #ff4b4b;
--red-main-darker: #e20501;
--green-main: #61c443;
--green-main-darker: #008000;
}

.teste{
height: 550px;
display: flex;
align-items: center;
padding-left: 4%;
}
.graficos{
display: flex;
flex-direction: column;
margin-left: 25%;
}
.container{
height: 750px;
width: 100%;
display: flex;
}

.divmenu{
height: 280px;
width: 25%;
background-color: aquamarine;
display: flex;
margin-top: 9%;
border-radius: 15px;
}

/* .grafic{
height: 250px;
width: 50%;
background-color: cornflowerblue;
} */

.grafic2{
display: flex;
flex-direction:column;
}

.p{
display: flex;
text-align: center;
align-self: center;
}

/* ALINHAMENTO DO MENU */
#menuToggle
{
display: block;
position: fixed;
top: 50px;
left: 25px;
float: left;
}

/* DECORAÇÃO DO LINK */
#menuToggle a
{
text-decoration: none;
color: #232323;
transition: color 0.3s ease;
}

/* ANIMAÇÃO QUANDO PASSA O MOUSE */
#menuToggle a:hover
{
color: var(--red-main-darker);
}


/* MENU */
#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
cursor: pointer;
opacity: 0; /* ESCONDE A CHECKBOX*/
z-index: 2; /* COLOCA AS SPANS */
}

/*
O MENU QUE SÃO AS SPANS
*/
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
background: var(--red-main);
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
}



/* ALINHAMENTO DA ANIMAÇÃO X */
#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

/* 
ANIMAÇÃO DO SPAN QUE SÃO OS 3 TRAÇOS
*/
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: var(--green-main-darker);
}

/*
ANIMAÇÃO DO SPAN QUE SÃO OS 3 TRAÇOS
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
ANIMAÇÃO DO SPAN QUE SÃO OS 3 TRAÇOS
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

/* ALINHAMENTO DA DIV */
#menu
{
width: 180px;
height: 700px;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 125px;
background: rgba(247, 210, 210, 0.322);
list-style-type: none;
background-image: url(../assets/watermelon-face-26061.png);
background-repeat: no-repeat;
background-size: 80%;
background-position: bottom;
background-position-x: 50%;
background-position-y: 100%;

/* ANIMAÇÃO VOLTA MAIS LENTA */
-webkit-font-smoothing: antialiased;
/* ANIMAÇÃO IDA E VOLTA*/
transform: translate(-100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

/* ALINHAMENTO DA LETRAS */
#menu li
{
padding: 10px 0;
font-size: 25px;
font-weight: normal;
}

/* PUXA A DIV PARA VER O MENU */
#menuToggle input:checked ~ ul
{
transform: none;
}


a{
color: #000;
}
/* nav {
display: flex;
justify-content: center;
width: 100%;
background: #fff; 
padding-top: 1%;
padding-bottom: 1%;
}
nav ul {
list-style: none;
text-align: center;
}
nav ul li {
display: inline-block;
}
nav ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: #000;
font-weight: 800;
text-transform: uppercase;
margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all .5s;
}
nav.stroke ul li a,
nav.fill ul li a {
position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: var(--red-main-darker);
height: 1px;
}
nav.stroke ul li a:hover:after {
width: 100%;
} */
.footerline #ciaa{
font-size: 30px;
color: var(--green-main);
}
.footerline #mel{
font-size: 30px;
color: var(--red-main);
}
.footerline {
display: flex;
height: 290px;
padding: 4%;
border-top: black 1px solid;
}
.caixafooter{
width: 24%;
padding-left: 6%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.caixafooter li {
height: 35px; 
}
.caixafooter h1{
margin-bottom: 5%;
margin-bottom: 3%;
}
.caixafooter h3{
margin-bottom: 5%;
}
.caixafooter img{
height: 20px;
}
li, a{
text-decoration: none;
list-style: none;
margin-bottom: 3%;
}
.icons{
height: 90px;
border-top: black 1px solid;
}
.icons p{
display: flex;
justify-content: center;
margin-top: 3%;
}




a{
color: #000;
}



body{
padding: 0;
margin: 0;
background-color: #f7d3d3;
display: flex;

}

.container {
    height: 100vh;
    width: 100%;
    
    display: flex;
}

/* Corpo ao lado */
.corpo {
    background-color: #89fa89;
    width: 100%;
    height: 100vh;
    border-radius: 35px;
    margin-left: 80px;
   
}

.div_cima {
    background-color: rgb(37, 167, 25);
    height: 15%;
    width: 95%;
    margin: 10px;
    /* margin-left: 20px; */
    padding-left: 35px;
    padding-top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_cima i {
    margin-top: 0;
    font-size: 60px;
    font-weight: bolder;
}

.div_medias {

    height: 90px;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

#pequena {  
    background-color: rgb(255, 0, 0);
    height: 60px;
    width: 30%;
    border-radius: 15px;
    /* margin: 30px; */
    margin-left: 10px;
    justify-content: center;
    align-items: center;

    

    
}

#troca_canteiro {
  
    height: 100px;
    width: 250px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

#troca_canteiro button{
    height: 40px;
    width: 30%;
    border-radius: 15px;

}
button:hover{
    background-color:  #baffba;

}

#pequena b{
  font-size: 9px;
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meio{
    margin-left: 5%;
    /* background: rgb(68, 0, 255); */
    display: flex;
    height:30%;
    width: 90%;
    justify-content: center;
    align-items: center;
}


.graficoMeioD {
  background-color: rgb(156, 77, 77);
  height: 250px;
  width: 35%;
  border-radius: 15px;
  margin-left: 5%;
}



.graficoMeioE {
    background-color: rgb(156, 77, 77);
    height: 250px;
    width: 35%;
    border-radius: 15px;
    margin-left: 10%;
}
.baixo{
background-color: rgb(37, 167, 25);
margin-top: 1%;
    height:50%;
    width: 90%;
    margin-left: 5%;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.graficoEsquerda{
    background-color: rgb(25, 27, 27);
    height:85%;
    width: 45%;
    /* margin: 20px; */
    border-radius: 15px;
}
.graficodireita{
    background-color: rgb(25, 27, 27);
    height:85%;
    width: 45%; 
    margin-left: 40px;
    /* margin: 20px; */
    border-radius: 15px;
}



    /* dash */

    .dash {
        width: 100%;
        position: relative;
        top: 0;
        border-radius: 15px;
        background-color: #ffffff;
    
        /* width: 75%;
        display: flex;
        background-color: #161618;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;*/
        height: 100%; 
    }
    