body{
padding: 0;
margin: 0;
background-color: #baffba;
display: flex;

}

.container {
    height: 100vh;
    width: 100%;
    
    display: flex;
}
/* Sidebar */

/* .nav {
    top: 0;
    width: 6%;
    height: 99%;
    background-color: #baffba;
    border-radius: 25px;

} */




/* OBS: OQUE EU NÃO COMENTEI.. DESCONSIDERA.. MAS NÃO TIRA NADA KSKKSKSKSK */

.nav__cont {
    position: fixed;
    width: 65px;
    top: 0;
    height: 100vh;
    z-index: 20;
    background-color: #97f197;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
    margin-left: -15px;
    margin-top: -1px;
  }
  .nav__cont:hover {
    width: 200px;
  }
  
  .nav__items {
      /* icones/pré visualização dos botões da nav bar E OS BOTÕES  
    - SEPARAÇÃO ENTRE OS ELEMENTOS */
    padding-bottom: 2px;
  }
  
  .nav {
    /* icones/pré visualização dos botões da nav bar 
    - MECHER PARA OS LADOS */
    margin-left: -20px;
  
    /* icones/pré visualização dos botões da nav bar E OS BOTÕES 
    - MECHER PARA CIMA(usando o menos -) E BAIXO(deixando o número positivo) */
    margin-top: 60px;
  
    list-style-type: none;
  
      /* icones/pré visualização dos botões da nav bar
    - MUDA COR DOS ICONES */
    color: white;
  }
  
  .nav__items a {
    /* NECESSÁRIO PARA MANTER A NAV BAR RESPONSIVA DE ACORDO COM O SITE */
    position: relative;
    
    /* NECESSÁRIO PARA MANTER TODOS ELEMENTOS DE FORMA ORGANIZADA E PADRONIZADA, SE TIRAR DISTORCE TUDO NO HOVER */
    display: block;
  
    /* NESSE TOP EU MECHI PARA ALINHAR A "PRÉ VISUALIZAÇÃO DOS BOTÕES" COM OS PRÓPRIOS BOTÕES, SE TIRAR ELES DESALINHAM */
    top: -40px;
  
    /* ESSE PADDING LEFT FAZ UM ESPAÇAMENTO NOS BOTÕES QUANDO JÁ MOSTRADOS APÓS PASSAR O MOUSE NA SID BAR */
    padding-left: 25px;
  
    padding-right: 50px;
  
    /* FAZ A TRANSIÇÃO DA NAV BAR.. DE FORMA QUE ELA VAI E VEM NO HOVER.. DE FORMA DELICADA COM UMA "ANIMAÇÃO/TRANSIÇÃO" */
    transition: all 0.3s ease;
  
    /* ESSE MARGIN DOIDO BAGUNÇA UM POUCO, MAS ELE PRATICAMENTE EFETUA A SEPARAÇÃO DOS ELEMENTOS QUANDO MOSTRADOS */
    margin-top: 2px;
  
    /* ESSE FAZ A MESMA COISA QUE O PADDING LEFT ACIMA.. MAS NÃO MECHE NÃO KSKSKSK SÓ SE QUISER EMPURRAR
    UM POUCO A ESCRITA DOS BOTÕES QUANDO MOSTRADOS */
    margin-left: 30px;
  
    /* ESSE MECHE NO TAMANHO HORIZONTAL DA CORZINHA EXIBIDA NOS BOTÕES JÁ MOSTRADOS E QUE ESTÃO COM O MAUSE EM CIMA */
    margin-right: 10px;
    
    text-decoration: none;
  
    /* COR DOS BOTÕES, A ESCRITA DELES QUANDO MOSTRADOS */
    color: rgb(0, 0, 0);
  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  
    /* TAMANHO DA FONTE */
    font-size: 1.0em;
  }
  
  .nav__items a:hover {
    font-size: 1.30em;
  }
  
  .nav__items a:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 7px;
  
    /* COR DO EFEITO QUANDO BOTÕES ESTÃO COM O MAUSE EM CIMA */
    background: radial-gradient(circle at 94.02% 88.03%, #e94a6d, transparent 100%);
  
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -15;
  }
  
  .nav__items:hover a:after {
    opacity: 1;
  }
  
  .img_user {
    background-image: url('./DashboardSide-Bar/usuario.png');
    background-repeat: no-repeat;
    background-size: 25px;
    width: 38px;
    height: 38px;
  }
  
  .img_home {
    background-image: url(./DashboardSide-Bar/home_ico_g.png);
    background-repeat: no-repeat;
    background-size: 28px;
    width: 40px;
    height: 40px;
  }
  
  .img_dashboard {
    background-image: url(./DashboardSide-Bar/dashboard_ico4_g.png);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 40px;
    height: 40px;
  }
  
  .img_suporte {
    background-image: url(./DashboardSide-Bar/suporte_ico_g.png);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 40px;
    height: 40px;
  }
  
  .img_sair {
    background-image: url(./DashboardSide-Bar/sair_img_g.png);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 42px;
    height: 42px;
  }
  
  .nav_items_sair {
    padding-top: 250px;
  }







/* Corpo ao lado */
.corpo {
    background-color: chartreuse;
    width: 94%;
    height: 98%;
    border-radius: 35px;
    margin-left: 80px;
}

.div_cima {
    background-color: rgb(167, 25, 49);
    height: 15%;
    width: 96%;
    margin: 20px;
    margin-left: 20px;
    padding-left: 35px;
    padding-top: 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_cima i {
    margin-top: 0;
    font-size: 60px;
    font-weight: bolder;
}

.div_medias {

    height: 120px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

#pequena {  
    background-color: yellow;
    height: 90px;
    width: 25%;
    border-radius: 15px;
    /* margin: 30px; */
    margin-left: 60px;
    justify-content: center;
    align-items: center;

    

    
}

#troca_canteiro {
    
    height: 120px;
    width: 300px;
    border-radius: 15px;
    margin: 10px;
    margin-left: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}

#troca_canteiro button{
    height: 50px;
    width: 40%;
    border-radius: 15px;

}

#pequena b{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.meio{
    display: flex;
}


.graficoMeioE {
  background-color: white;
  height: 400px;
  width: 35%;
  border-radius: 15px;
  margin-left: 5%;
}
.meiodomeio{
  height: 400px;
  width: 35%;
  border-radius: 15px;
  margin-left: 5%;
  display: flex;
  
  background-color: white;
}
.meiodomeio h1{
font-size: 7px;

}
.meiodomeio h2{
font-size: 5px;

}

.meiodomeio div{
  height:100px;
  width: 45%;
}


.graficoMeioD {
    background-color: white;
    height: 400px;
    width: 35%;
    border-radius: 15px;
    margin-left: 5%;
}
.baixo{

    height:30%;
    width: 90%;
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.graficoEsquerda{
    background-color: rgb(192, 242, 255);
    height:100%;
    width: 45%;
    margin: 20px;
    border-radius: 15px;
}
.graficodireita{
    background-color: rgb(192, 242, 255);
    height:100%;
    width: 45%; 
    margin-left: 70px;
    margin: 20px;
    border-radius: 15px;}