@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
padding: 0;
margin: 0;
font-family: 'Spartan', sans-serif;
}
/* body::-webkit-scrollbar {
width: 15px;               /* width of the entire scrollbar */
/* }

body::-webkit-scrollbar-track {
background: red;        /* color of the tracking area */
/* }

/* body::-webkit-scrollbar-thumb {
background-color: green;    /* color of the scroll thumb */
/* border-radius: 2px;
width: 5px;       /* roundness of the scroll thumb */



nav {
display: flex;
justify-content: center;
width: 100%;
background: #fff; 
padding-top: 1%;
padding-bottom: 1%;
}
nav ul {
list-style: none;
text-align: center;
}
nav ul li {
display: inline-block;
}
nav ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: #000;
font-weight: 800;
text-transform: uppercase;
margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all .5s;
}
nav.stroke ul li a,
nav.fill ul li a {
position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: #ff0000;
height: 1px;
}
nav.stroke ul li a:hover:after {
width: 100%;
}
.firstline{
height: 550px;
width: 100%;
display: flex;
justify-content: center;
}
.textofirstline{
width: 75%;

}
.textofirstline #mel{
color: red;
}
.textofirstline #ciaa{
color: green;
}
.textofirstline h3{
display: flex;
justify-content: center;
font-weight: normal;
font-size: 70px;
margin-top: 5%;
}
.textofirstline h4{
display: flex;
justify-content: center;
font-size: 30px;
}
.textofirstline p{
display: flex;
font-size: 20px;
justify-content: center;
text-align: center;
}
.calculadoraliner{
height: 500px;
display: flex;
justify-items: center;
background-image: url(../IMGS/5252601.jpg);
background-position: right;
background-position-y: 50%;
background-repeat: no-repeat;
background-size: 40%;
margin-right: 3%;
}
.textostart{
width: 45%;
height: 500px;
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
text-align: center;
margin-left: 5%;
margin-top: 3%;
font-size: 30px;
}
.textoend{
width: 100%;
height: 500px;
display: flex;
justify-items: flex-end;
align-items:flex-end;
flex-direction: column;
text-align: center;
margin-left: 5%;
margin-top: 15%;
font-size: 30px;
}
.textocenter{
width: 100%;
height: 500px;
display: flex;
justify-items: center;
align-items: center;
flex-direction: column;
text-align: center;
margin-left: 5%;
margin-top: 15%;
font-size: 50px;  
color: white;
}

.calculadoraliner .btn{
margin-top: 5%;
}
.teamliner .btn_b{
margin-top: 5%;
}
.teamliner{
height: 550px;
display: flex;
justify-items: center;
background-image: url(../IMGS/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
background-position: left;
background-position-y: 50%;
background-repeat: no-repeat;
background-size:100%;
}

/* BOTÃO VERDE */
.btn {
position: relative;
display: inline-block;
width: 277px;
font-weight: bold;
line-height: 60px;
text-align: center;
text-decoration:none;
font-weight: bold;
font-size:20px;
color: #325935;
}

.btn svg {
position: absolute;
top: 0;
left: 0;
}

.btn svg rect {
stroke-width: 2;
stroke-dasharray: 353, 0;
-webkit-transition: all 600ms ease;
}
.btn:hover svg rect {
stroke-width: 2;
stroke-dasharray: 196, 543;
stroke-dashoffset: 437;
}

/* BOTÃO BRANCO */
.btn2 {
position: relative;
display: inline-block;
width: 277px;
font-weight: bold;
line-height: 60px;
text-align: center;
text-decoration:none;
font-weight: bold;
font-size:20px;
color: #ffffff;
}

.btn2 svg {
position: absolute;
top: 0;
left: 0;
}

.btn2 svg rect {
stroke-width: 2;
stroke-dasharray: 353, 0;
-webkit-transition: all 600ms ease;
}
.btn2:hover svg rect {
stroke-width: 2;
stroke-dasharray: 196, 543;
stroke-dashoffset: 437;
}

