@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
 
*{
  padding: 0;
  margin: 0;
  font-family: 'Spartan', sans-serif; 
}
body{
background-color: #ddfde6;
}

.cabeca{
  display: flex;
  background-color: white;
  border-bottom: 2px solid green;
  height: 110px;
  text-align: center;
  justify-content: space-between;
  padding-left: 4%;  
}
.lista{
justify-content: space-evenly;
width: 50%;
font-size: 20px;
margin-top: 3.5%;
height: 100%;
display: flex; 
text-decoration: none;
list-style: none;
}
.lista span{
font-weight: bolder;
cursor: pointer;
}
.cabeca #mel{
color: red;
}
.cabeca #ciaa{
color: green;
}
.cabeca h3{
margin-top: 2.5%;
font-weight: normal;
font-size: 40px; 
}
a{
color: black;
text-decoration: none;
}
.calculadora{
height: 550px;
width: 100%;
margin-top: 5%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: left;
}
.calculadora h4{
font-size: 30px;
width: 50%;
height: 35%;
margin-top: 2%;
font-weight: normal;
display: flex;
justify-content: center;
}
.calculadora input {
border: 0;
width: 50%;
display: flex;
flex-direction: column;
font-size: 20px;
font-weight: bolder;
background-color: transparent;
border-bottom: 3px solid green;
}
.calculadora #inp_preco{
margin-bottom: 5%;
}
.calculadora #inp_quilo{
margin-bottom: 5%;
}
.calc .butam{
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
margin-bottom: 5%;
}
.butam:hover{
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.divmen{
font-family: 'Spartan', sans-serif;
display: flex;
justify-content: center;
font-weight: bold;
color: rgb(0, 93, 41);
font-size: 20px;
margin-bottom: 5%;
}
.melan{
font-family: 'Spartan', sans-serif;
text-align: center;
font-size: 50px;
margin-top: 5%;


}
.mel{
color: rgb(255, 39, 39);
}
.ci{
color: rgb(0, 93, 41);

}