@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
padding: 0;
margin: 0;
font-family:  'Spartan', sans-serif;
}
/*  Variaveis para as cores*/
:root{
--red-main: #ff4b4b;
--red-main-darker: #e20501;
--green-main: #61c443;
--green-main-darker: #008000;
}

.teste{
height: 550px;
display: flex;
align-items: center;
justify-content: center;
padding-left: 4%;
}
.graficos{
width: 45vw; 
display: flex;
flex-direction: column;
}
.container{
height: 750px;
width: 100%;
background-color: rgb(201, 144, 255);
display: flex;
justify-content: center;
}

.divmenu{
height: 280px;
width: 80%;
background-color: aquamarine;
display: flex;
margin-top: 3%;
border-radius: 15px;
}
.variatp{
height: 120px;
width: 29%;
background-color: cadetblue;
display: flex;
align-self: center;
margin-left: 3%;
border-radius: 15px;
}
.variaum{
height: 120px;
width: 29%;
background-color: cadetblue;
display: flex;
align-self: center;
margin-left: 3%;
border-radius: 15px;
}

.variamed{
height: 120px;
width: 29%;
background-color: cadetblue;
display: flex;
align-self: center;
margin-left: 3%;
border-radius: 15px;
}

/* .grafic{
height: 250px;
width: 50%;
background-color: cornflowerblue;
} */

.grafic2{
display: flex;
flex-direction:column;
}



.p{
display: flex;
text-align: center;
align-self: center;
}


a{
color: #000;
}
nav {
display: flex;
justify-content: center;
width: 100%;
background: #fff; 
padding-top: 1%;
padding-bottom: 1%;
}
nav ul {
list-style: none;
text-align: center;
}
nav ul li {
display: inline-block;
}
nav ul li a {
display: block;
padding: 15px;
text-decoration: none;
color: #000;
font-weight: 800;
text-transform: uppercase;
margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all .5s;
}
nav.stroke ul li a,
nav.fill ul li a {
position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '.';
color: transparent;
background: var(--red-main-darker);
height: 1px;
}
nav.stroke ul li a:hover:after {
width: 100%;
}
.footerline #ciaa{
font-size: 30px;
color: var(--green-main);
}
.footerline #mel{
font-size: 30px;
color: var(--red-main);
}
.footerline {
display: flex;
height: 290px;
padding: 4%;
border-top: black 1px solid;
}
.caixafooter{
width: 24%;
padding-left: 6%;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
.caixafooter li {
height: 35px; 
}
.caixafooter h1{
margin-bottom: 5%;
margin-bottom: 3%;
}
.caixafooter h3{
margin-bottom: 5%;
}
.caixafooter img{
height: 20px;
}
li, a{
text-decoration: none;
list-style: none;
margin-bottom: 3%;
}
.icons{
height: 90px;
border-top: black 1px solid;
}
.icons p{
display: flex;
justify-content: center;
margin-top: 3%;
}


